body {
    font-family: sans-serif;
    background-color: yellow;
    margin: 0 auto;
}

.botao-flutuante {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: aqua;
    color: black;
    padding: 15px 20px;
    border: none;
}

.tabela {
    width: 100%;
    border: 2px;
     height: 800px;
}