body {
    font-family: sans-serif;
    background-color: yellow;
    margin: 0 auto;
}

.botao-flutuante {
    cursor: pointer;
    position: fixed;
    bottom: 200px;
    right: 200px;
    
    color: black;
    padding: 15px 20px;
    border: none;
    width: 200px;
    height: 80px;
    
}

.painel {
    width: 100%;
    border: 2px;
    border-color: black;
    height: 800px;
}